/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */

 .card{
  border: 1px solid black;
  border-radius: 12px;
  box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.336);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
 }
 .card .CardImage{
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
 }
 .card .CardTittle{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0%;
  color: rgb(0, 0, 0);
 }
 .card .CardText{
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  color: rgb(36, 5, 3);
 }
 .list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(31, 9, 9);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: blanchedalmond;
  margin-left: 250px;
  margin-right: 250px;
 }

 .list-items{
  font-size: 2em;
  list-style: none;
  color: rgb(65, 18, 18);
  text-align: center;
  margin: 0;
 
 }
 .list-items li:hover{
  cursor: pointer;
  color: brown;
 }

 .counter-container{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .counte-display{
 font-size: 10em;
 margin-top: 0;
 margin-bottom: 60px;
 }
 .counter-button{
  width: 150px;
  font-weight: bold;
  height: 50px;
  font-size: 1.5em;
  margin: 0px 5px;  /* left and ride */
  background-color: rgb(6, 141, 141);
  color: white;
  border-radius: 10px;
  cursor: pointer;
 }
 .counter-button:hover{
  color: black;
  background-color: aqua;
 }
